.Div1{
    background-color: white;
    width: 50%;
    border: double white;
    margin: auto;
    padding: 2px;
    justify-content: center;
    

}
.Div2{

    background-color: turquoise;
    width: 25%;
    
}

.Div3{
    background-color: rgb(151, 222, 215);
    width: 25%;
    font-family: 'Lucida Sans', '
    font-size: small;
    
}
.flex-container{
    display: flex;
    height: auto;
    justify-content: center;
    color: whitesmoke;
    
    
}
button{
    background-color: yellowgreen;    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1PX solid;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 70%;
    margin-bottom: 10%;
    margin-left: 45px;
    
}
* {
    box-sizing: border-box;
  }
 span{
    text-decoration: lightgrey;
  }
  .basic{
background-color: lime;
width: 40%;
height: 120px;
position: fixed;
left: 80%;
bottom: 20%;
border-radius: 17px;
box-shadow: 2px 4px 12px;
  }

  .basic1{
background-color: blue;
color: white;
width: 30%;
height: 30px;
position: relative;
bottom: 60px;
  }

  .anotherdiv{
width: 50%;
height: 200px;
background-color: darkgoldenrod;
position: relative;
  }
.moveimage{
position: relative;
width: 50%;
background-color: brown;
height: 100px;
}
.photo{
    position: absolute;
    bottom: -40%;
    width: 200px;
}

